<h1>Dashboard</h1>

<%= render 'tasks/task_form' %>

<h2>Recent Tasks</h2>
<%= render 'tasks/task_list' %>

<p>
  <%= link_to 'Projects', projects_path %> |
  <%= link_to 'Agents', agents_path %>
</p>
