<div id="branch_select_container">
  <%= select_tag "task[auto_push_branch]", 
      options_for_select(branches, task.auto_push_branch),
      include_blank: "Select a branch...",
      class: "form-control" %>
</div>