<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "##{task.id}: #{task.description.presence || 'No description'}", task_path(task) %>
      <% unless @project %>
        - <%= task.project.name %>
      <% end %>
      (<%= task.created_at.strftime("%m/%d %H:%M") %>)
    </li>
  <% end %>
</ul>