<% if read_tool.tool_result %>
  <div class="tool-result">
    <div class="code-block">
      <% read_tool.format_code_with_line_numbers(read_tool.tool_result.content).each do |line_data| %>
        <div class="code-line">
          <span class="line-number"><%= line_data[:number] %></span>
          <span class="line-content"><%= line_data[:content] %></span>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="tool-result -pending">
    <div class="spinner"></div>
    <span>Reading file...</span>
  </div>
<% end %>