<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>

<ul class="project-list">
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
      <%= link_to 'Archive', project_path(project), 
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to archive this project?' },
                  class: 'archive' %>
    </li>
  <% end %>
</ul>
