.task-form {
  & .selectors {
    display: flex;
    gap: 1rem;
  }

  & .selectors .field {
    flex: 1;
  }

  & textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    resize: none;
    overflow: hidden;
    transition: height 0.2s ease;
  }
}