<% if instance.errors.any? %>
  <div class="form-errors">
    <h2 class="title">
      <%= t(
          ".title",
          count: instance.errors.count,
          name: (defined?(name) ? name : instance.class.model_name.human).downcase,
      ) %>
    </h2>

    <ul class="list">
      <% instance.errors.full_messages.each do |message| %>
        <li class="item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>